@import 'color.css';

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

input,
button {
  font-size: 1em;
}

.container {
  display: grid;
  gap: 20px;
  height: 100vh;
  min-width: 320px;
  max-width: 30vw;
  grid-template-rows: [header] 60px [main] auto [footer] 80px;
  margin: 0 auto;
  gap: 5px;
}

.container__header {
  grid-row: header;
  background-color: var(--header-color);
  text-align: center;
  top: 0;
}

.container__content {
  grid-row: main;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--content-background-color);
  align-items: center;
  font-size: 16px;
  overflow-y: scroll;
  word-break: break-all;
  padding-top: 10px;
}

.container__footer {
  grid-row: footer;
  display: flex;
  flex-direction: row;
  background-color: var(--footer-color);
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
}

.container__content__card {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: var(--section-background-color);
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  padding: 5px;
}

.container__content__card__tags {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  justify-content: space-evenly;
  align-items: center;
}

.container__content__card-tag__tag-item {
  border: 1px solid grey;
  padding: 1px;
  background-color: var(--content-background-color);
  font-size: 12px;
}

.container__content__card__div-button__answer-button {
  background-color: var(--content-background-color);
  cursor: pointer;
  color: black;
  border-radius: 1em;
}

.container__content__card--bookmark-icon {
  position: absolute;
  right: 5px;
  top: -3px;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: white;
}

.javaScript__icon {
  color: black;
}

.hidden {
  display: none;
}

/*.container__content__card--bookmark-icon:active {
  color: white;
}*/
